.ENV
python_services/repositories/__pycache__
python_services/services/__pycache__
python_services/controllers/__pycache__
python_services/__pycache__
python_services/books.json
bookstore_env/
/java_services/target/
